.side-main-container {
  padding-top: 1vh;
  display: flex;
  /* background-color: #282c3428; */
  box-sizing: border-box;
  /* position: absolute; */
  height: 85vh;
  /* width: 100%; */
}
.main-wrapper {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  /* overflow: hidden; */
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}


.leftSide {
  /* background-color: red; */
  width: 20%;
  box-sizing: border-box;
}

.centerDiv {
  /* background-color: rgb(13, 161, 21); */
  /* padding: 0 1%; */
  width: 65%;
  box-sizing: border-box;
  overflow: scroll;
}
.centerDiv::-webkit-scrollbar {
  display: none;
}

.rightSide {
  /* background-color: rgb(79, 31, 141); */
 
  width:20rem;
  height: 85vh  ; 
  display: flex;
  flex-direction: column;
align-items: end;  
box-sizing: border-box;
}
   @media screen and (max-width: 1200px){
.rightSide{
  width:1rem;
  position: absolute;
  right: 0 ;
}

.leftSide {
  /* background-color: red; */
  width:6rem;
  box-sizing: border-box;
}
.centerDiv {
  /* background-color: rgb(13, 161, 21); */
  /* padding: 0 1%; */
  width: 70%;
  box-sizing: border-box;
  overflow: scroll;
}
}



/* for sign up page
make it in the middle of the page
, make it responsive
,add some animation
and add border
*/
/* Path: src\pages\SignUp.module.css */
.signUp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 2rem;
  background: linear-gradient(115deg, #56d8E4 10%, #9f019f);
}
.signUp-wrapper {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: inline-flex;
}


