.container {
  display: flex;
  /* background-color: rgb(72, 30, 170); */

  height: 100%;
  width: 50vw;

  align-items: center;
}

.left {
  /* background-color: rgb(72, 30, 170); */
  height: 100%;
  width: 40%;
}
.right {
  /* background-color: rgb(204, 187, 37); */
  height: 100%;
  width: 60%;
}
