.invitation-container {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  width: 80%;
  height: calc(5rem + 1vh);
  align-items: baseline;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.block {
  display: block;
  background-color: rgb(197, 133, 80);
  /* width: 6vw;
  height: 5vw; */
}
.name {
  font-size: calc(1rem + 0.3vw);
}

.button {
  width: 30%;
  height: 1vw;
  margin: 0 0.5vh;
  font-size: calc(2vh * 1vw);
}


.accepted{
  text-align: center;
  background-color: rgb(142, 211, 142);
      border-radius: 5px;
  padding: 5px 15px;
}

.refused{
  text-align: center;
  background-color: rgb(243, 137, 137);
    border-radius: 5px;
      padding: 5px 15px;
}