.post_image{
    width: 300px;
    border-radius: 20px;
    margin: auto;
}
.layout{
    width: 520px;
    margin: auto;
    margin-bottom: 20px;
}

.file_button{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}